In [1]:
import pandas as pddays=50
import datetime

In [2]:
data = pd.read_excel("../data/france_dataset.xlsx")
cols = data.columns

# kolumny czasowo-śmierciowe

In [3]:
df =data[['date_hospital_admi','date_ICU_admi','date_death', 'Death_D7', 'Death_D28']][data['date_death'] != "."]
df

    date_hospital_admi date_ICU_admi           date_death  Death_D7  Death_D28
1           2020-03-25    2020-03-25  2020-04-01 00:00:00         1          1
14          2020-03-10    2020-03-10  2020-03-12 00:00:00         0          1
15          2020-03-12    2020-03-13  2020-03-17 00:00:00         0          1
22          2020-03-13    2020-03-15  2020-03-24 00:00:00         0          0
23          2020-03-11    2020-03-15  2020-03-25 00:00:00         0          1
..                 ...           ...                  ...       ...        ...
157         2020-03-26    2020-03-26  2020-04-12 00:00:00         0          0
159         2020-03-28    2020-03-28  2020-04-22 00:00:00         0          0
169         2020-03-26    2020-03-26  2020-04-14 00:00:00         0          0
170         2020-03-30    2020-04-01  2020-04-07 00:00:00         0          1
177         2020-04-20    2020-05-02  2020-05-08 00:00:00         0          0

[62 rows x 5 columns]

In [4]:
df['date_hospital_admi'] = pd.to_datetime(df['date_hospital_admi'])
df['date_ICU_admi'] = pd.to_datetime(df['date_ICU_admi'])
df['date_death'] = pd.to_datetime(df['date_death'])

In [5]:
df["from_door_to_death"] = df['date_death'] - df['date_hospital_admi']

In [6]:
df

,date_hospital_admi,date_ICU_admi,date_death,Death_D7,Death_D28,from_door_to_death
1,2020-03-25,2020-03-25,2020-04-01,1,1,7 days
14,2020-03-10,2020-03-10,2020-03-12,0,1,2 days
15,2020-03-12,2020-03-13,2020-03-17,0,1,5 days
22,2020-03-13,2020-03-15,2020-03-24,0,0,11 days
23,2020-03-11,2020-03-15,2020-03-25,0,1,14 days
...,...,...,...,...,...,...
157,2020-03-26,2020-03-26,2020-04-12,0,0,17 days
159,2020-03-28,2020-03-28,2020-04-22,0,0,25 days
169,2020-03-26,2020-03-26,2020-04-14,0,0,19 days
170,2020-03-30,2020-04-01,2020-04-07,0,1,8 days
177,2020-04-20,2020-05-02,2020-05-08,0,0,18 days

# Martwi bez daty śmierci - jeszcze ok

In [46]:
dead = (data["Death_D7"] != 0) | (data["Death_D28"] != 0)
incorrect = data[(data["date_death"] == ".") & dead].filter(["date_death","Death_D7", "Death_D28" ])
incorrect

    date_death  Death_D7  Death_D28
2            .         0          1
3            .         0          1
4            .         0          1
7            .         1          1
8            .         0          1
12           .         0          1
20           .         0          1
21           .         1          1
24           .         0          1
27           .         1          1
34           .         0          1
36           .         0          1
37           .         1          1
38           .         0          1
45           .         1          1
60           .         1          1
63           .         0          1
69           .         0          1
70           .         0          1
73           .         0          1
89           .         1          1
98           .         0          1
102          .         0          1
106          .         1          1
108          .         0          1
109          .         1          1
110          .         0          1
111          .         0          1
114          .         0          1
117          .         1          1
123          .         0          1
128          .         0          1
140          .         1          1
141          .         0          1
142          .         1          1
143          .         1          1
155          .         0          1
161          .         0          1
163          .         0          1
167          .         0          1
168          .         0          1
171          .         0          1

In [47]:
incorrect.count()

date_death    42
Death_D7      42
Death_D28     42
dtype: int64

# Martwi z datą śmierci, ale bez flagi śmieci

In [64]:
not_dead = (df["Death_D7"] == 0) & (df["Death_D28"] == 0)
incorrect2 = df[(df["date_death"] != ".") & not_dead].filter(["date_death","Death_D7", "Death_D28", "from_door_to_death" ])
incorrect2

    date_death  Death_D7  Death_D28 from_door_to_death
22  2020-03-24         0          0            11 days
30  2020-04-07         0          0             7 days
32  2020-04-05         0          0            11 days
35  2020-04-22         0          0            16 days
42  2020-02-14         0          0            16 days
44  2020-03-24         0          0            23 days
46  2020-03-19         0          0            12 days
48  2020-03-29         0          0            24 days
49  2020-04-01         0          0            26 days
56  2020-03-30         0          0            23 days
57  2020-04-02         0          0            23 days
58  2020-03-16         0          0             6 days
67  2020-03-26         0          0            20 days
72  2020-03-21         0          0             5 days
74  2020-04-27         0          0            41 days
78  2020-05-08         0          0            49 days
83  2020-04-02         0          0             6 days
86  2020-04-09         0          0            18 days
87  2020-04-03         0          0             7 days
90  2020-04-04         0          0             5 days
91  2020-04-09         0          0            12 days
92  2020-04-12         0          0            13 days
95  2020-04-06         0          0             9 days
115 2020-04-26         0          0            18 days
118 2020-04-23         0          0            16 days
119 2020-04-23         0          0            16 days
120 2020-04-25         0          0            16 days
122 2020-04-21         0          0             8 days
124 2020-04-28         0          0            16 days
125 2020-05-20         0          0            44 days
127 2020-04-20         0          0             9 days
129 2020-05-15         0          0            29 days
131 2020-05-17         0          0            31 days
134 2020-05-09         0          0            22 days
144 2020-05-27         0          0            19 days
146 2020-03-27         0          0             6 days
147 2020-04-06         0          0            16 days
148 2020-04-07         0          0            15 days
152 2020-03-31         0          0             7 days
157 2020-04-12         0          0            17 days
159 2020-04-22         0          0            25 days
169 2020-04-14         0          0            19 days
177 2020-05-08         0          0            18 days

In [65]:
incorrect2.count()

date_death            43
Death_D7              43
Death_D28             43
from_door_to_death    43
dtype: int64

# dodajmy ramy czasowe

In [69]:
inc2_range = incorrect2[incorrect2["from_door_to_death"] < datetime.timedelta(days=28)]
inc2_range

    date_death  Death_D7  Death_D28 from_door_to_death
22  2020-03-24         0          0            11 days
30  2020-04-07         0          0             7 days
32  2020-04-05         0          0            11 days
35  2020-04-22         0          0            16 days
42  2020-02-14         0          0            16 days
44  2020-03-24         0          0            23 days
46  2020-03-19         0          0            12 days
48  2020-03-29         0          0            24 days
49  2020-04-01         0          0            26 days
56  2020-03-30         0          0            23 days
57  2020-04-02         0          0            23 days
58  2020-03-16         0          0             6 days
67  2020-03-26         0          0            20 days
72  2020-03-21         0          0             5 days
83  2020-04-02         0          0             6 days
86  2020-04-09         0          0            18 days
87  2020-04-03         0          0             7 days
90  2020-04-04         0          0             5 days
91  2020-04-09         0          0            12 days
92  2020-04-12         0          0            13 days
95  2020-04-06         0          0             9 days
115 2020-04-26         0          0            18 days
118 2020-04-23         0          0            16 days
119 2020-04-23         0          0            16 days
120 2020-04-25         0          0            16 days
122 2020-04-21         0          0             8 days
124 2020-04-28         0          0            16 days
127 2020-04-20         0          0             9 days
134 2020-05-09         0          0            22 days
144 2020-05-27         0          0            19 days
146 2020-03-27         0          0             6 days
147 2020-04-06         0          0            16 days
148 2020-04-07         0          0            15 days
152 2020-03-31         0          0             7 days
157 2020-04-12         0          0            17 days
159 2020-04-22         0          0            25 days
169 2020-04-14         0          0            19 days
177 2020-05-08         0          0            18 days

In [71]:
inc2_range.count()

date_death            38
Death_D7              38
Death_D28             38
from_door_to_death    38
dtype: int64